
.hra_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 17%;
    margin-right: 17%;
    max-width: 80vmin;
    height:95vh; 
}
*,
:before
:after {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(#615dad,#ffc8da );
    height:100vh;
    overflow-y: hidden;
}

.hra_nadpis {
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 3vmin; 
}
.hra_stred {
    display: flex;
    color: white;
    font-size: 4vmin;
    margin-bottom: 3vmin;
    gap: 2vmin;
   
}
img {
    height:50%;
    padding:2vmin;
}
.changing-icon {
    filter: invert(100%);
}
.hraje {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif; 
}
.domu {
    background-color:#1fcca4;
    flex-grow: 0;
    border-radius: 10px;
    border: none;
}
.domu:hover {
    background-color: #1cbb96;
}
.zpet {
    background-color: #0197f6;
    flex-grow: 0;
    border-radius: 10px;
    border: none;
}

.zpet:hover{
    background-color: #0090e9;
}
.hra_tabulka {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.hraci_pole {
    border: 2px solid black; 
    border-spacing: 0px; 
    max-width: 100%;
}

td {
    border: 1px solid black; 
    padding: 0%; 
    box-shadow: none;
    box-sizing: content-box;
    height: 100%;
   

}
.pole {
width: 4vmin;
height: 4vmin; 
display: block;
background-color: #D8BFD8	;
border: none;
box-shadow: none; 

/* margin: 0;
padding: 0; */

}
/* #hraje-icon {
    color: white;
} */
 button {
    /* width: 4vmin;
    /* height: 4vmin;  
    background-size: cover; */
    /* display: inline-block; 
    display: flex; */
    padding: 4px;
}  
.pole:hover {
    background-color:lavender 
}
.board__field--circle {
background-image: url("circle.svg"); 
background-position: center; 
background-repeat: no-repeat;
background-size: 80%; 
/* fill: white; */


}
.board__field--cross {
background-image: url("cross.svg");
background-position: center; 
background-repeat: no-repeat;
background-size: 80%; 
/* height: 100%;
width: 100%; */

/* fill: invert(100%); */
/* background-origin: padding-box; */
}
