.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-color: black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
}

*,
:before
:after {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(#615dad,#ffc8da );
}
.flex-container {
    background-color: #283e50;
}

.nadpis {
    text-align: center;
    padding: 0,5rem;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 120%; 
}

.obrazek {
    display: flex;
    justify-content: center;
    order: -1;
    max-width: 100%;
}
img {
    width: 100%; 
}

.text {
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    color: white;
    font-size: 120%;
    text-align: center;
}

.Pravidla {
background-color: #1fcca4;
color: white;
justify-content: center;
max-width: 100%;
}
.Pravidla:hover {
    background-color: #1cbb96;
}

.zacit_hrat {
background-color: #0197f6;
color: white;
justify-content: center;
max-width: 100%;
}
.zacit_hrat:hover {
    background-color: #0090e9;
}

a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem;
    font-size: 100%;
    text-decoration: none;
}
